.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
}
.img_logo>img{
	width: 150px;
}
.header_wrap{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header_wrap>a{
	margin-left:1rem;
}

@media(max-width: 500px){
	.header{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}